<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/index.css">
<script src="library/jquery-3.6.0.js"></script>
<script src="js/index.js"></script>

<body>
  <table id="chess-board">
  </table>

    <table width="200px" style="border: 1px solid black; border-collapse: collapse;">
      <tr>
        <td colspan="3">흰색</td>
      </tr>
      <tr>
        <td>ID</td>
        <td><span id="white-player-id"></span></td>
        <td>이름</td>
        <td><span id="white-player-name"></span></td>
        <td>점수</td>
        <td><span id="white-player-score"></span></td>
      </tr>
      <tr>
        <td colspan="3">검은색</td>
      </tr>
      <tr>
        <td>ID</td>
        <td><span id="black-player-id"></span></td>
        <td>이름</td>
        <td><span id="black-player-name"></span></td>
        <td>점수</td>
        <td><span id="black-player-score"></span></td>
      </tr>
    </table>
  </div>

  <br /><br />

  현재 팀: <span id="current-team"></span>
  <br />
  움직일 위치 : <input type="text" name="from" /> <input type="text" name="to" />
  <br />
  <button id="move">움직이기</button>
  
</body>
</html>
